extends layout
block content
  - let boardTitle;
  //- '/'
  if categories.mainCategories
    //- input(type="text" value=`${main_category}` id="main-category-input" style="display:none;")
    - boardTitle = '物品分類清單'
  //- '/?main_category=?'
  else if categories.subCategories
    input(type="text" value=`${main_category}` id="main-category-input" style="display:none;")
    //- input(type="text" value=`${sub_category}` id="sub-category-input" style="display:none;")
    - boardTitle = '子分類清單'
  //- '/main_category=?&sub_category=?'
  else 
    input(type="text" value=`${main_category}` id="main-category-input" style="display:none;")
    input(type="text" value=`${sub_category}` id="sub-category-input" style="display:none;")
    - boardTitle = ''
  main
    .outer-container.main
      .inside-container.main.left
        .sub-container.main.left
          .sidebar.left
            if mainBoardsList
              - let i = 0
              - let mainLength = mainBoardsList.length 
              if mainLength > 0
                while i < mainLength
                  a.sidebar-div.left
                    .sidebar-div.left
                      .sidebar-text.left=mainBoardsList[i]
                  - i++
            .sidebar-div.left(id="main-list-title")
              .sidebar-text.left.separate=boardTitle
            if categories.listData
              //- 製作主分類清單
              //- - let k = 0
              //- - let listLength = categories.listData.length
              //- if listLength > 0
                //- while k < mainCategories
              each category in categories.listData
                a.sidebar-div.left(href=`/?main_category=${category.id}`)
                  .sidebar-div.left
                    if categories.mainCategories
                      .sidebar-text.left=category.main_category
                    else 
                      .sidebar-text.left=category.sub_category
                      //- - k++
                //- else if sub_categories
                  //- 製作子分類清單
            //- if subscribeBoardsList
            //-   .sidebar-div.left
            //-     .sidebar-text.left.separate 訂閱看板清單
            //-   - let j = 0
            //-   - let subsLength = subscribeBoardsList.length 
            //-   if subsLength > 0
            //-     while j < subsLength
            //-       a.sidebar-div.left
            //-         .sidebar-div.left
            //-           .sidebar-text.left=subscribeBoardsList[j].hot_board
            //-       - j++
            //- if hotBoardsList
            //- .sidebar-div.left(id="hot-list-title")
            //-   .sidebar-text.left.separate 全部看板清單
      .inside-container.main.middle
        .sub-container.main.middle
          //- .subtext.news News
          h1.sub-title 新商品清單
          .items-area.recommands(id="items-area-recommand")
          //- .nomore-text-div(onclick="createMoreItems()" id="nomore-text-div") 點此查看更多物品
      .inside-container.main.right
        .sub-container.main.right
          .guide
            h1.sub-title 新手指南
            .guide-content
              h3.guide-text 請先註冊/登入
              h3.guide-text 新增自己擁有的物品
              h3.guide-text 找到喜歡的商品，並提出交換配對申請
              h3.guide-text 若有配對成立，前往配對頁確認
              h3.guide-text 所有配對用戶確認後，前往對話頁討論交易內容
  script(src="/javascripts/index.js")
