extends layout
block content
  - let boardTitle;
  - let beforeSubtitle='';
  //- '/'
  if categories
    if categories.mainCategories
      - boardTitle = '物品分類清單'
    //- '/?main_category=?'
    else if categories.subCategories
      - boardTitle = '子分類清單'
      - beforeSubtitle = main+' > '
  //- '/main_category=?&sub_category=?'
  else if statusList
    - boardTitle = '物品狀態選單'
    - beforeSubtitle = main+' > '+sub+' > '
  else if status
    - boardTitle = ''
    - beforeSubtitle = main+' > '+sub+' > '+status+' > '
  //- if mainBoardsList
  main
    .outer-container.main
      .inside-container.main.left
        .sub-container.main.left
          .sidebar.left
            a.sidebar-div.left(href="/")
              .sidebar-div.left
                .sidebar-text.left 所有物品清單
            if mainBoardsList
              - let i = 0
              - let mainLength = mainBoardsList.length 
              if mainLength > 0
                while i < mainLength
                  a.sidebar-div.left
                    .sidebar-div.left
                      .sidebar-text.left=mainBoardsList[i]
                  - i++
            .sidebar-div.left(id="main-list-title")
              .sidebar-text.left.separate=boardTitle
            if categories.listData
              each category in categories.listData
                if categories.mainCategories
                  a.sidebar-div.left(href=`/?main_category=${category.id}&main=${category.main_category}`)
                    .sidebar-div.left
                      .sidebar-text.left=category.main_category
                else if categories.subCategories
                  a.sidebar-div.left(href=`/?main_category=${main_category}&main=${main}&sub_category=${category.id}&sub=${category.sub_category}`)
                    .sidebar-div.left
                      .sidebar-text.left=category.sub_category
            if statusList
              each status in statusList
                a.sidebar-div.left(href=`/?main_category=${main_category}&main=${main}&sub_category=${sub_category}&sub=${sub}&status=${status}`)
                  .sidebar-div.left
                    .sidebar-text.left=status
      .inside-container.main.middle
        .sub-container.main.middle
          if !searchDataArr
            .sub-title
              .sub-text=beforeSubtitle+"新商品清單"
            .items-area.recommands(id="items-area-recommand")
          else 
            .sub-title
              .sub-text=keywordString+"搜尋結果"
            - let searchCount = searchDataArr.length
            .items-area.recommands(id="items-area-searched")
              if searchCount > 0
                each item in searchDataArr
                  a.item-link(href=`/items/detail?item_id=${item.id}}`)
                    .item-container.outside.main.index
                      .item-container.inside.main.index
                        .item-img.main
                          - let pic_url = item.pictures.split(',')[0]
                          img(src=s3_url+pic_url)
                        .item.content
                          .item.title=item.title
                          .item.info
                            span.nickname=item.user_nickname
                          .item.tags
                            -let tagsArr = item.tags.split(' ')
                            each tag in tagsArr
                              span=tag+' '
              else  
                .no-item(id='no-item')
      .inside-container.main.right
        .sub-container.main.right
          .guide
            h1.sub-title 新手指南
            .guide-content
              h3.guide-text 請先註冊/登入
              h3.guide-text 新增自己擁有的物品
              h3.guide-text 找到喜歡的商品，並提出交換配對申請
              h3.guide-text 若有配對成立，前往配對頁確認
              h3.guide-text 所有配對用戶確認後，前往對話頁討論交易內容
  //- else 
    main
      .outer-container.main
        .inside-container.main.left
        .inside-container.main.middle
          .sub-container.main.middle
            .sub-title
              .sub-text 真抱歉，暫時無法為您顯示商品><
  script(src="/javascripts/index.js")
